ol {
    list-style-type: none;
    background-color: #006699;
    padding: 0;
    margin: 0;
    font-size: 18px;
    height: 2em;
    line-height: 2em;
    text-align: center;
    position: relative;
    z-index: 2;
}

ol > li {
    float: right;
    background-color: #006699;
    width: 170px;
}

ol > li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0 5px;
}

ol > li > ul > li a{
    color: #09C;
    font-size: 16px;
}

ol > li > a:hover {
    color:#09C;
}
  
ol > li:hover {
    background-color:#EEE;
}

ol > li > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol > li {
    float:right;
    background-color: #006699;
    width: 170px;
    margin-left: 1px;
}
  
ol > li:first-child {
    margin-left: 0;
}

ol > li > ul > li > a {
    border-top:1px solid #FFF;
}
 
ol > li > ul > li {
    background-color: #EEE;
}
  
ol > li > ul > li:hover {
    background-color: #DDD;
}
  
ol > li > ul > li:hover a {
    color: #09C;
}

ol > li > ul {
    display: none;
}
  
ol > li:hover > ul {
    display: block;
}

ol > li {
    float: right;
    background-color: #006699;
    width: 170px;
    margin-left: 1px;
    height: 2em;
}
a{
    cursor: pointer;
}